.title {
    margin-bottom: 0;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin-top: 8px
}

.table table {
    border-collapse: collapse;
    width: 100%
}

.table thead {
    position: sticky;
    top: 0;
    background-color: white;
    text-align: left;
}

.pageSelector {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}